@include breakup-block("basic") {

    #site-home {
        float: left;
        margin: 28px 0 10px 0;

        i {
            display: none;
        }

        a {
            border-bottom: none;
            font-family: Georgia,"Times New Roman",Times,serif;
            font-size: 2em;
            font-weight: normal;
            line-height: 1.385em;
            color: #333;
            margin-top: 0;
            margin-right: 5px;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            display: block;
        }
    }
}
