@media only screen and (min-width: 320px) {

/*     #global-nav {
        li {
            .children {

                li a {

                }

                li:first-child {
                    border-top: 1px solid #CCCCCC;
                }

                li:last-child {
                    border-bottom: 1px solid #CCCCCC;
                }
            }
        }
    } */

/*
breakup
#search-form {
        width: 100%;
        position: absolute;
        height: 52px;
    } */

    /*
    breakup #footer {

        #contact {
            width: 50%;
        }

        div, nav  {
            width: 50%;
        }

        .images-links {
            width: 100%;
            text-align: left;
            clear: both;


            div {
                width: 100%;
            }

            div:first-child {
                margin-bottom: -20px;
                    span:first-child {
                        padding-top: 16px;
                    }

            }

            div:last-child {
                span:last-child {
                        padding-top: 16px;
                    }
            }

        }
    } */

/*     .carousel-media {
        img {
            display: none;
        }
    }
 */
/*     .banner-content {
        width: 100%;
    } */

/*     #slice-navigation {
        border: none;
    } */

}

