//desktop
@media only screen and (min-width: 980px) {

/*     // utilities
    .visible-desktop {
        display: block !important;
    } */

    // scaffolding
/*     body {
        padding: 0;
    } */

/*     #container {
        width: 980px;
    }
 */
/*     #header {
        margin: 0;

        .site-home {
            margin-top: 48px;
        }
    } */

    // search box

/*
breakup
    #s-button {
        height: 24px;
        width: 36px;
        font-size: .9em;

        i {
            font-size: 1.1em;
            line-height: 1em;
        }
    }
    #search {
        position: relative;
        padding: 5px;
        margin: 0;
        height: 26px;
        z-index: 100;

        p {
        }
        label {

        }
    }
    #query {
        height: 24px;
        width: 263px;
    }

    #search-icon {
        height: 38px;
        width: 26px;
    } */



/*     #slice-navigation {
        border: none;
    } */




/*     .banner-content {
        width: 40%;
    } */

/*     // logo
breakup
    #logo {
        float: left;
        margin-bottom: 20px;

        a {
            border-right: 1px solid #ccc;
            padding-right: 20px;
            display: block;
            border-bottom: 1px solid #fff;

            &:hover {
                box-shadow: 3px 5px 9px -4px #ccc;
                color: rgb(255,255,255);
            }
        }
    } */

} // media-query
