
@media only screen and (min-width: 1200px) {

/*     #container {
        width: 1200px;
    }
 */
/*     .children {
        position: absolute;
    }
 */


/*
breakup
   #search-form {
        position: relative;
        //width: 387px - old width
        //height: 34px - old height
        width: 518px;
        height: 37px;
    } */


}
