@include breakup-block("basic") {
    #map-widget {
        .map-parameters {
            display: none;
        }
        img {
            margin: 0;
        }

        .vcard {
            margin: 0 5px;
        }
    }
}
